{{#minted}}
    <p>Your deposit has been approved and your funds and ready.</p>
{{/minted}}
{{^minted}}
    <p>Your deposit request has benn rejected. Try to create new deposit request or contact support for more information.</p>
{{/minted}}
