<p>New project wallet has just been created on crowdfunding platform that you manage!</p>
<p>Please go <a href="{{& link}}">{{& link}}</a> to review and approve new wallet creation. This action will unlock the project to recieve investements.</p>