<p>User {{firstName}} {{lastName}} has requested withdrawal with amount €{{amount}} on the crowdfunding platform that you manage.</p>
<p>Please go <a href="{{& link}}">{{& link}}</a> to review and approve withdrawal request.</p>
