<p>New wallet has just been created on crowdfunding platform that you manage!</p>
<p>New user wallet address is: {{activationData}}</p>
<p>Please go <a href="{{& link}}">{{& link}}</a> to review and approve new wallet creation.</p>
