{{#burned}}
    <p>Your withdraw have been approved and your funds have been transferred to your bank account.</p>
{{/burned}}
{{^burned}}
    <p>Your withdraw request has benn rejected. For more information contact support.</p>
{{/burned}}
