{{#minted}}
    <p>Η κατάθεσή σου έχει εγκριθεί και το κεφάλαιό σου είναι έτοιμο.</p>
{{/minted}}
{{^minted}}
    <p>Το αίτημά σου απορρίθφηκε. Κάνε ένα νέο αίτημα κατάθεσης ή επικοινώνησε μαζί μας για περισσότερες πληροφορίες.</p>
{{/minted}}
