<p>Το νέο πορτοφόλι του χαρτοφυλακίου επενδύσεων μόλις δημιουργήθηκε στην πλατφόρμα crowdfunding που διαχειρίζεσαι!</p>
<p>Πάρακαλώ πήγαινε στο <a href="{{& link}}">{{& link}}</a> για ελέγξεις και να εγκρίνεις το πορτοφόλι του χαρτοφυλακίου επενδύσεων.</p>
