<p>To έργο σου με τίτλο{{projectName}} έχει εγκριθεί και είναι έτοιμο για να δεχθεί επενδύσεις!</p>
<p>Για να διαχειριστείς το έργο σου και για να παρακολουθήσεις την κατάσταση χρηματοδότησης κάνε click στο <a href="{{& link}}">{{& link}}</a></p>
