<p>Το νέο πορτοφόλι του έργου μόλις δημιουργήθηκε στην πλατφόρμα crowdfunding που διαχειρίζεσαι!</p>
<p>Πήγαινε στο <a href="{{& link}}">{{& link}}</a> για να έλεγξεις και να εγκρίνεις το πορτοφόλι. Αφού το κάνεις αυτό το έργο θα είναι έτοιμο για να λάβει επενδύσεις.</p>
