<p>Ο χρήστης {{firstName}} {{lastName}} έχει ζητήσει ανάληψη του ποσού των {{amount}}€ από την από την πλατφόρμα crowdfunding που διαχειρίζεσαι.</p>
<p>Πήγαινε στο <a href="{{& link}}">{{& link}}</a> για να ελεγξεις και να εγκρίνεις το αίτημα ανάληψης.</p>
