<p>Το πορτοφόλι σου μόλις εγκρίθηκε!</p>
<p>Το πορτοφόλι σου βρίσκεται εδώ: {{activationData}}</p>
<p>Μπορείς να αρχίσεις να επενδύεις κάνοντας μια κατάθεση στο λογαριασμό σου <a href="{{& link}}">{{& link}}</p>
