<p>Ένα νέο πορτοφόλι μόλις δημιουργήθηκε στην πλατφόρμα crowdfunding που διαχειρίζεσαι!</p>
<p>Το πορτοφόλι βρίσκεται εδώ: {{activationData}}</p>
<p>Πήγαινε στο <a href="{{& link}}">{{& link}}</a> για να ελεγξεις και να εγκρίνεις τη δημιουργία του.</p>
