{{#burned}}
    <p>Η ανάληψή σου έχει εγκριθεί και τα χρήματά έχουν μεταφερθεί στον τραπεζικό σου λογαριασμό.</p>
{{/burned}}
{{^burned}}
    <p>Το αίτημα ανάληψης απορρίφθηκε. Για περισσότερες πληροφορίες επικοινώνησε μαζί μας.</p>
{{/burned}}
